// colors
$text-white: rgb(255, 255, 255);
$text-black: rgb(64, 66, 75);
$text-grey: rgb(107, 119, 140);
$text-blue-dark: rgb(23, 43, 77);
$bg-blue-dark: rgb(23, 43, 77);
$bg-blue: rgb(46, 126, 175);
$bg-grey: rgb(223, 225, 230);

// sizes
$sizes: (
        xs: 4px,
        md: 8px,
        lg: 12px,
        xl: 16px
);

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

body {
  background-color: $bg-blue;
  font-family: Roboto, sans-serif;
}

.boards {
  width: 16rem;
  padding: map-get($sizes, md);
  background-color: $bg-grey;
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  margin: 0 0.5rem;
  border-radius: map-get($sizes, xs);

  .header {
    width: 100%;
    padding: map-get($sizes, md) map-get($sizes, lg) 0 map-get($sizes, md);
  }

  .body {
    width: 100%;
    min-height: 2rem;
    flex-grow: 1;
  }

  .action {
    text-align: left;
    width: 100%;
    padding: map-get($sizes, md) map-get($sizes, lg);
    transition: 0.2s ease-in;
    cursor: pointer;

    &:hover {
      color: $bg-blue-dark;
      background-color: rgba($bg-grey, 0.13);
    }
  }
}