// colors
$text-white: rgb(255, 255, 255);
$text-black: rgb(64, 66, 75);
$text-grey: rgb(107, 119, 140);
$text-blue-dark: rgb(23, 43, 77);
$bg-blue-dark: rgb(23, 43, 77);
$bg-blue: rgb(46, 126, 175);
$bg-grey: rgb(223, 225, 230);
$bg-white: rgb(255, 255, 255);
$bg-black-light: rgb(64, 66, 75);
$bg-black: rgb(0, 0, 0);
$bg-success: rgb(90, 172, 68);
$bg-error: rgb(227 12 35);


// sizes
$sizes: (
        xs: 4px,
        md: 8px,
        lg: 12px,
        xl: 16px
);

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

body {
  background-color: $bg-blue;
  font-family: Roboto, sans-serif;
  padding-top: map-get($sizes, xl);
}

input {
  padding: 0.5rem;
  border-radius: map-get($sizes, xs);
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  font-size: 0.95rem;
  outline: none;
}

.page-title {
  color: $text-white;
  margin-bottom: map-get($sizes, xl);
  padding: 0 map-get($sizes, xl);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.3rem;
  font-weight: 600;
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.boards-wrapper {
  display: flex;
  flex: 1;
  align-items: start;

  .board {
    width: 16rem;
    background-color: $bg-grey;
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    margin: 0 0.5rem;
    border-radius: map-get($sizes, xs);

    .header {
      padding: map-get($sizes, lg) map-get($sizes, lg) 0 map-get($sizes, lg);

      .header-title {
        font-size: 1rem;
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .body {
      min-height: 2rem;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: map-get($sizes, md);
      padding: map-get($sizes, md);

      .card {
        border-radius: map-get($sizes, xs);
        background-color: $bg-white;
        display: flex;
        flex-direction: column;
        gap: map-get($sizes, md);
        padding: map-get($sizes, md);

        .card-title {
          font-size: 0.875rem;
          word-break: break-word;
          color: $text-black;
        }

        .card-action {
          width: fit-content;
          background-color: rgba($bg-black-light, 0.13);
        }
      }
    }


    .add-new-card {
      display: flex;
      flex-direction: column;
      gap: map-get($sizes, md);
      padding: map-get($sizes, md);
    }

    .board-action {
      text-align: left;
      padding: map-get($sizes, md) map-get($sizes, lg);
      transition: 0.2s ease-in;
      cursor: pointer;
      color: $text-grey;

      &:hover {
        color: $bg-blue-dark;
        background-color: rgba($bg-black-light, 0.13);
      }
    }
  }


  .add-board {
    background-color: rgba($bg-black, 0.13);
    width: 16rem;
    cursor: pointer;
    border-radius: map-get($sizes, xs);

    .add-board-button {
      font-size: 1rem;
      color: $text-white;
      padding: map-get($sizes, lg);
    }
  }

  .board-action.add-btn {
    background-color: $bg-success;
    color: white;
    font-weight: 600;
    padding: 0.5rem 0.75rem;
    border-radius: map-get($sizes, xs);

    &:hover {
      background-color: rgba($bg-success, 0.8);
      color: white;
    }
  }

  .board-action.cancel-btn {
    background-color: $bg-error;
    color: white;
    font-weight: 600;
    padding: 0.5rem 0.75rem;
    border-radius: map-get($sizes, xs);

    &:hover {
      background-color: rgba($bg-error, 0.8);
      color: white;
    }
  }
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-start {
  justify-content: start;
}

.align-center {
  align-items: center;
}